@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    font-family: 'Roboto', sans-serif;
}

/* sidebar */

#sidebar {
    background-color: #4C1D95;
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 275px 100px;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    align-items: center;
}

#logo {
    font-size: 20px;
    display: flex;
    align-items: center;
}

#logo > img {
    width: 40px;
    margin-right: 10px;
}

#nav > div, #settings > div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#nav > div > img, #settings > div > img {
    width: 17px;
    margin-right: 10px;
}


/* header */

#header {
    background-color: white;
    grid-column: 2;
    grid-row: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 40px;
    padding-bottom: 12px;
}

#header > div {
    display: flex;
    align-items: center;
    font-weight: 600;
}

#header > div > input {
    width: 75%;
    height: 24px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 25px;
    margin-left: 15px;
    outline: none;
}

#header > div > input:focus {
    border: 2px solid #4C1D95;
}

#top-profile {
    width: 30px;
    margin: 0px 25px;
}

.profile {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

#div-handle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#div-handle span:first-child {
    font-size: 12px;
}

#header > div > button {
    background-color: #4C1D95;
    color: white;
    border: none;
    border-radius: 20px;
    margin: 10px;
    height: 35px;
    width: 80px;
    font-weight: 700;
}


/* main-content */
#main-content {
    background-color: #e2e8f0;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 0px 30px 20px 15px;
}

#projects {
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    gap: 20px;
}

#projects > h4 {
    grid-column: 1 / 3;
    margin-bottom: -10px;
}

.project-card {
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-left: 7px solid #65951d;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card > div > h4 {
    margin: 0px;
}

.project-card > div > span {
    color: #636363;
    font-size: 14px;
}

.card-icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.card-icons > img {
    margin-left: 15px;
    width: 22px;
}

#announcements {
    display: grid;
    grid-template-rows: auto 1fr;
}

#trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.side-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
}

.side-card > hr {
    border: 1px solid #d2d2d2;
    margin-top: 15px;
    margin-bottom: 15px;
}

.side-card > div > h5 {
    margin: 0px;
}

.side-card > div > span {
    color: #636363;
    font-size: 12px;
}

#announcements > h4, #trending > h4 {
    margin-bottom: 10px;
}